[Desktop Entry]
Type=Application
Name=CSNova
Comment=Creative Writing Tool
Exec=/home/frank/CSNova/csNova
Icon=/home/frank/CSNova/assets/media/csnova.png
Terminal=false
Categories=Office;Utility;
StartupNotify=true